# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Experiments output
experiments/**/checkpoints*/
experiments/**/log*/
experiments/**/arun_log*/
experiments/**/*result*/
experiments/**/*vis*/

# Other results and logs
result_recon/
UniAD/log/
*.log

# Data files
data/MVTec-AD/mvtec_anomaly_detection/
*.npy
*.tif
*.json

# Virtual environment
.venv/

# Model checkpoints
*.pth.tar
*.pth

# Chunks directory
chunks/