*/__pycache__/*
*pyc
.vscode/

experiments/*/*/checkpoints*/*
experiments/*/*/log*/*
experiments/*/*/arun_log*/*
experiments/*/*/*result*/*
experiments/*/*/*vis*/*

experiments/*/checkpoints*/*
experiments/*/log*/*
experiments/*/arun_log*/*
experiments/*/*result*/*
experiments/*/*vis*/*

result_recon/*

mvtech_checkpoint/*
log/*

data/MVTec-AD/mvtec_anomaly_detection/*

*.npy
.venv