*/__pycache__/*
*pyc
.vscode/

experiments/*/*/checkpoints*/*
experiments/*/*/log*/*
experiments/*/*/arun_log*/*
experiments/*/*/*result*/*
experiments/*/*/*vis*/*

experiments/*/checkpoints*/*
experiments/*/log*/*
experiments/*/arun_log*/*
experiments/*/*result*/*
experiments/*/*vis*/*

result_recon/*

UniAD/mvtech_checkpoint/*
UniAD/log/*
*.log

data/MVTec-AD/mvtec_anomaly_detection/*

*.npy
.venv

*.pth.tar

chunks/*
*.tif